* {
    margin: 0;
}

body {
background: radial-gradient(circle, #fff, #0e41a0);
}

.container {
    max-width: 90%;
    margin: auto;
}

/*     -----Хедер-----     */
.header {
    text-align: center;
    padding: 2rem;
    color: blue;
    text-shadow: 1px 2px 2px rgb(202, 238, 255);
    background: linear-gradient(to bottom, rgb(169, 189, 226), rgb(138, 170, 231), cornflowerblue);
}

/*     -----Секция меню-----     */
.menu-container, .basket-container {
    text-align: center;
    margin: auto;
    padding: 10px 20px;
    padding-bottom: 30px;
    background: linear-gradient(rgb(230, 255, 255), rgb(210, 255, 255), rgb(175, 255, 255));
}

.menu-header, .basket-header {
    color: blue;
    text-shadow: 1px 2px 2px rgb(0, 172, 252);
    padding: 1rem;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-content: center;
    gap: 1rem;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 1rem;
    gap: 1rem;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(135deg, rgb(235, 222, 255), rgb(196, 157, 255), rgb(163, 102, 255), rgb(150, 213, 255), rgb(57, 176, 255));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.5 ease;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(2, 0, 148, 0.5);
}

.menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.menu-item-body {
    height: 400px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 1rem;
}

.dish-description {
    padding: 0.5rem 1rem;
    margin: 0;
}

.dish-price {
    font-weight: bold;
    color: #00692c;
}

.add-to-basket, .clear-basket {
    background: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    justify-self:last baseline;
}

.clear-basket:hover, .add-to-basket:hover {
  background: #2980b9;
}

/*     -----Секция корзины-----     */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.table {
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 15px;
    background: #cebdf7;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px blue;
}

thead, tfoot {
    background: #b599f7;
    font-weight: bold;
    font-size: 1.1rem;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid black;
}

th:first-child {
    width: 200px;
}

tfoot td {
    text-align: right;
    border-bottom: none;
    width: 100%; 
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*     -----Футер-----     */
.footer {
    text-align: center;
    color: blue;
    text-shadow: 1px 2px 2px rgb(202, 238, 255);
    background: linear-gradient(cornflowerblue, rgb(138, 170, 231), rgb(169, 189, 226));
    padding: 1rem;
}